


/*INDEX.HTML - MOBILE -  Section 1 START*/

.section1Index {
    height: 100vh;
}
.imgLogoContainer {
    height: 30rem;
    width: 30rem;
}

.sizeLogo {
    max-width: 100%;
    max-width: 100%;
}

.divMainSection1Index {
    animation: opacity 3s;
    height: 100vh;
}
@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*INDEX.HTML - MOBILE -  Section 1 END*/


