
.section1Servicios {
    height: 100%;
    animation: opacity 3s;
}

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.divContainerServiciosTitle {
    margin-top: 10rem;
}
.serviciosTitle {
    background: linear-gradient(45deg, #ff009daa 0%, #ff00c8 50%,  $colorLightViolet 100%);
    background-repeat: repeat;
    animation: serviciosTitle 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes serviciosTitle {
    0% {
        background-position: 0 0 ;
    }
    50% {
        background-position: 10rem;
    }
    100% {
        background-position: 20rem 0;
    }
}
.cardsServiciosContainer {
    margin-top: 5rem;
    width: 100%;
}

.aServicios {
    width: 100%;
}
.cards_ServiciosContainer_pages-card {
    width: 30rem;
    height: 35rem;
    background-color: $colorGris;
    box-shadow: 0px 0px 8px 0px black;
    margin: 5rem;
    border-radius: 3%;
}

.cards_ServiciosContainer_responsive-card {
    width: 30rem;
    height: 35rem;
    background-color: $colorGris;
    box-shadow: 0px 0px 8px 0px black;
    margin: 5rem;
    border-radius: 3%;
}

.cards_ServiciosContainer_diseño-card {
    width: 30rem;
    height: 35rem;
    background-color: $colorGris;
    box-shadow: 0px 0px 8px 0px black;
    margin: 5rem;
    border-radius: 3%;
}

.cards_ServiciosContainer_mantenimiento-card {
    width: 30rem;
    height: 35rem;
    background-color: $colorGris;
    box-shadow: 0px 0px 8px 0px black;
    margin: 5rem;
    border-radius: 3%;
}

.cardContainerTitle {
    height: 5rem;
    margin-top: 2rem;
}

.cardContainerIcon {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: $colorDarkViolet;
    margin-bottom: 2rem ;

}

.iconCards {
    font-size: 10rem;
    color: $colorGris
}

/* sectionMain_DesarrolloWeb START*/

.sectionMain_DesarrolloWeb {
    height: 100%;
    width: auto;
    animation: opacity 3s;
}

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.desarrolloWebTitleContainer {
    height: 30rem;
    width: 100%;
    background-image: url(../images/programador.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    animation: imgmove 10s infinite linear alternate;
}
@keyframes imgmove {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.images_TextContainer {
    height: auto;
    width: 95%;
    
}



.imgDeveloper {
    height: 60%;
    width: 60%;
    float: left;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText {
    margin-top: 3rem;
    text-align: right;
}


.images_TextContainer2 {
    height: auto;
    width: 95%;
}



.imgDeveloper2 {
    height: 60%;
    width: 60%;
    float: right;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText2 {
    margin-top: 3rem;
}

.buttonContainerDesarrolloWeb {

    height: 20rem;

}

/* sectionMain_DesarrolloWeb END*/

//sectionMain_ResponsiveDesign START

.sectionMain_Responsive {
    height: 100%;
    width: auto;
    animation: opacity 3s;
}

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.responsiveTitleContainer {
    height: 30rem;
    width: 100%;
    background-image: url(../images/responsive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    animation: imgmove 10s infinite linear alternate;
}
@keyframes imgmove {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.images_TextContainer {
    height: auto;
    width: 95%;
    
}



.imgIpad {
    height: 60%;
    width: 60%;
    float: left;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText {
    margin-top: 3rem;
    text-align: right;
}


.images_TextContainer2 {
    height: auto;
    width: 95%;
}



.imgIpad2 {
    height: 60%;
    width: 60%;
    float: right;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText2 {
    margin-top: 3rem;
}

.buttonContainerResponsive {

    height: 20rem;

}
//sectionMain_ResponsiveDesign END

//sectionMain_WebCreate START

.sectionMain_WebCreate {
    height: 100%;
    width: auto;
    animation: opacity 3s;
}

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.webCreateTitleContainer {
    height: 30rem;
    width: 100%;
    background-image: url(../images/responsive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    animation: imgmove 10s infinite linear alternate;
}
@keyframes imgmove {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.images_TextContainer {
    height: auto;
    width: 95%;
    
}



.imgWebCreate {
    height: 60%;
    width: 60%;
    float: left;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText {
    margin-top: 3rem;
    text-align: right;
}


.images_TextContainer2 {
    height: auto;
    width: 95%;
}



.imgWebCreate2 {
    height: 60%;
    width: 60%;
    float: right;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText2 {
    margin-top: 3rem;
}

.buttonContainerWebCreate {

    height: 20rem;

}
//sectionMain_WebDesign END