// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 1200px) {

    /*ETIQUETAS HTML START */

    body {
        height: 100%;
        width: 100vw;
        background-color: $colorDarkViolet;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    
    .h1Titles {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 6rem;
        color: #fff;
    }
    
    .h3Subtitles {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 4rem;
        color: #fff;
    }
    
    .h3SubtitleFooter {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 3rem;
        color: $colorDarkViolet;
    }

    .subrayado {
        color: $colorDarkViolet;
        font-weight: 400;
    }
    
    a {
        text-decoration: none;
    }
    
    .pText {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 2.5rem;
        color: #fff;
        line-height: 3rem;
    }
    
    .buttonMoreInfo {
        background-color: #fff;
        color: $colorDarkViolet;
        padding: 3rem;
    }

    .buttonBackContainer {
        position: sticky;
        top: 0%;
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colorDarkViolet;
        z-index: 1000;
    }
    
    .buttonBack {
        color: #fff;
        font-size: 4rem;
    }

    .iHome {
        color: $colorDarkViolet;
        font-size: 4rem;
    }

    /*ETIQUETAS HMTL END*/


    /*header_Index.html START */
    header {
        width: 100%;
    }
    nav {
        font-size: 2.5rem;
        width: 100%;    
    }

    
    /*header_Index.html END */

    /*section1_Index.html START */

    .imgLogoContainer {
        height: 50rem;
        width: 50rem;
    }
    
    .sizeLogo {
        max-width: 100%;
        max-width: 100%;
    }

    .divMainSection1Index {
        animation: section1 3s;
        height: 100vh;
    }
    @keyframes section1{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    

    /*section1_Index.html END */
    
    /*section1_Servicios.html START */

    .divContainerServiciosTitle {
        margin-top: 10rem;
    }
    .serviciosTitle {
        background: linear-gradient(45deg, #ff009daa 0%, #ff00c8 50%,  $colorLightViolet 100%);
        background-repeat: repeat;
        animation: serviciosTitle 3s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @keyframes serviciosTitle {
        0% {
            background-position: 0 0 ;
        }
        50% {
            background-position: 20rem;
        }
        100% {
            background-position: 30rem 0;
        }
    }


    /*section1_Servicios.html END */

    /* sectionMain_DesarrolloWeb START */

.sectionMain_DesarrolloWeb {
    height: 100%;
    width: auto;
    animation: opacity 3s;
}

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.desarrolloWebTitleContainer {
    height: 30rem;
    width: 100%;
    background-image: url(../images/programador.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    animation: imgmove 10s infinite linear alternate;
}
@keyframes imgmove {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.images_TextContainer {
    height: auto;
    width: 80%;
    
}



.imgDeveloper {
    height: 60%;
    width: 60%;
    float: left;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText {
    margin-top: 3rem;
    text-align: right;
}


.images_TextContainer2 {
    height: auto;
    width: 80%;
}



.imgDeveloper2 {
    height: 60%;
    width: 60%;
    float: right;
    margin-right: 3rem;
    transform: translateY(0px);
    animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floatText2 {
    margin-top: 3rem;
}

.buttonContainerDesarrolloWeb {

    height: 25rem;

}

// sectionMain_DesarrolloWeb END


    /* sectionMain_Responsive START */

    .sectionMain_Responsive {
        height: 100%;
        width: auto;
        animation: opacity 3s;
    }
    
    @keyframes opacity{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .responsiveTitleContainer {
        height: 30rem;
        width: 100%;
        background-image: url(../images/responsive.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5rem;
        animation: imgmove 10s infinite linear alternate;
    }
    @keyframes imgmove {
        from {
            background-position: bottom left;
        }
        to {
            background-position: top right;
        }
    }
    
    .images_TextContainer {
        height: auto;
        width: 80%;
        
    }
    
    
    
    .imgIpad {
        height: 60%;
        width: 60%;
        float: left;
        margin-right: 3rem;
        transform: translateY(0px);
        animation: float 6s ease-in-out infinite;
    }
    
    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .floatText {
        margin-top: 3rem;
        text-align: right;
    }
    
    
    .images_TextContainer2 {
        height: auto;
        width: 80%;
    }
    
    
    
    .imgIpad2 {
        height: 60%;
        width: 60%;
        float: right;
        margin-right: 3rem;
        margin-bottom: 3rem;
        transform: translateY(0px);
        animation: float2 6s ease-in-out infinite;
    }
    
    @keyframes float2 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .floatText2 {
        margin-top: 3rem;
    }
    
    .buttonContainerResponsive {
    
        height: 25rem;
    
    }
    
    // sectionMain_Responsive END


        /* sectionMain_WebCreate START */

        .sectionMain_WebCreate {
            height: 100%;
            width: auto;
            animation: opacity 3s;
        }
        
        @keyframes opacity{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        .webCreateTitleContainer {
            height: 30rem;
            width: 100%;
            background-image: url(../images/responsive.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 5rem;
            animation: imgmove 10s infinite linear alternate;
        }
        @keyframes imgmove {
            from {
                background-position: bottom left;
            }
            to {
                background-position: top right;
            }
        }
        
        .images_TextContainer {
            height: auto;
            width: 80%;
            
        }
        
        
        
        .imgWebCreate {
            height: 60%;
            width: 60%;
            float: left;
            margin-right: 3rem;
            transform: translateY(0px);
            animation: float 6s ease-in-out infinite;
        }
        
        @keyframes float {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        .floatText {
            margin-top: 3rem;
            text-align: right;
        }
        
        
        .images_TextContainer2 {
            height: auto;
            width: 80%;
        }
        
        
        
        .imgWebCreate2 {
            height: 60%;
            width: 60%;
            float: right;
            margin-right: 3rem;
            transform: translateY(0px);
            animation: float2 6s ease-in-out infinite;
        }
        
        @keyframes float2 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(20px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        .floatText2 {
            margin-top: 3rem;
        }
        
        .buttonContainerWebCreate {
        
            height: 25rem;
        
        }
        
        // sectionMain_WebCreate END

        /* sectionMain_Mantenimiento START */

        .sectionMain_Mantenimiento {
            height: 100%;
            width: auto;
            animation: opacity 3s;
        }
        
        @keyframes opacity{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        .mantenimientoTitleContainer {
            height: 30rem;
            width: 100%;
            background-image: url(../images/responsive.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 5rem;
            animation: imgmove 10s infinite linear alternate;
        }
        @keyframes imgmove {
            from {
                background-position: bottom left;
            }
            to {
                background-position: top right;
            }
        }
        
        .images_TextContainer {
            height: auto;
            width: 80%;
            
        }
        
        
        
        .imgMantenimiento {
            height: 60%;
            width: 60%;
            float: left;
            margin-right: 3rem;
            transform: translateY(0px);
            animation: float 6s ease-in-out infinite;
        }
        
        @keyframes float {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        .floatText {
            margin-top: 3rem;
            text-align: right;
        }
        
        
        .images_TextContainer2 {
            height: auto;
            width: 80%;
        }
        
        
        
        .imgMantenimiento2 {
            height: 60%;
            width: 60%;
            float: right;
            margin-right: 3rem;
            transform: translateY(0px);
            animation: float2 6s ease-in-out infinite;
        }
        
        @keyframes float2 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(20px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        .floatText2 {
            margin-top: 3rem;
        }
        
        .buttonContainerMantenimiento {
        
            height: 25rem;
        
        }
        
        // sectionMain_Mantenimiento END

    /*footer START */

    footer {
        height: auto;
        padding: 3rem;
        font-size: 2rem;
        font-family: Montserrat;
        font-weight: 400;
        background-color: $colorGris;
        color: #000;     
    }
    .divFooterContainer {
        width: 90%;
    }
    .aFooter {
        color: #000;
    }
    .aFooter:hover {
        color:$colorDarkViolet;
    }
    
    .iFooter {
        font-size: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
    
    }
    
    
    :root {
        --whatsapp: #4dc247;
        --instagram: #e4405f;
        --mail: #ea4335;
    }
    
    .whatsapp {
        color: $colorDarkViolet;
    }
    .instagram {
        color: $colorDarkViolet;
    }
    .mail {
        color: $colorDarkViolet;
    }
    .whatsapp:hover {
        color: var(--whatsapp);
        transform: scale(1.2);
        transition: all 0.6s;
    }
    
    .instagram:hover {
        color: var(--instagram);
        transform: scale(1.2);
        transition: all 0.6s;
    }
    
    .mail:hover {
        color: var(--mail);
        transform: scale(1.2);
        transition: all 0.6s;
    }
}
