
$colorGris: #FFFFFF;
$colorDarkBlue: #0099FF;
$colorDarkViolet: #44006B;
$colorLightViolet: #ef5dff;
$colorDarkGris: #555;



/*ETIQUETAS HMTL START*/

body {
    height: 100%;
    width: 100vw;
    /*background-image: url(../images/bgMobile.svg);*/
    background-color: $colorDarkViolet;
    background-repeat: no-repeat;
    background-size: cover;
}



.h1Titles {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
}

.h3Subtitles {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

.h3SubtitleFooter {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2rem;
    color: $colorDarkViolet;
}

.h3SubtitleCards {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 3rem;
    color: $colorDarkViolet;
}
.subrayado {
    color: $colorDarkViolet;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.pText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    line-height: 2.5rem;
}

.buttonMoreInfo {
    background-color: #fff;
    color: $colorDarkViolet;
}

.buttonBackContainer {
    position: sticky;
    top: 0rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorDarkViolet;
    z-index: 1000;
}

.buttonBack {
    color: #fff;
    font-size: 3rem;
}

.iHome {
    color: $colorDarkViolet;
    font-size: 2.5rem;
}
/*ETIQUETAS HMTL END*/